name: Keep Streamlit App Alive

on:
  schedule:
    - cron: "*/20 * * * *"  # every 20 minutes
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Streamlit app
        run: |
          curl https://neoclimex.streamlit.app
